{% extends 'food/base.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index page</title>
  </head>

  <body>
    {% block body %} {% for item in item_list %} 

    <div class="row">
      <div class="col-md-3 offset-md-2">
          <img src="{{item.item_image}}" alt="" class="card" height="150px" width="150px">
      </div>
      <div class="col-md-4">
        <h3>{{item.item_name}}</h3>
        <h5>{{item.item_desc}}</h5>
        <h6>{{item.item_price}}</h6>
      </div>
      <div class="col-md-2">
        <a href="" class="btn btn-success">Details</a>
      </div>
    </div>
    {% comment %} old code {%
    endcomment %}
    <ul>
      {% comment %}
      <a href="/food/{{item.id}}"
        ><li>{{ item.id }} ----- {{item.item_name}}</li></a
      >
      {% endcomment %}

      {% comment %} <a href="{% url 'food:detail' item.id %}"
        ><li>{{ item.id }} ----- {{item.item_name}}</li></a
      >
    </ul> {% endcomment %}

    {% endfor %} {% endblock %} {% comment %}
    <p>
      using hardcoded url makes things titely coupled approach means less
      dynamic , changing templates will be difficult .
    </p>

    <h2>Name spacing</h2>
    <p>
      If there are multiple apps and the name of the path is same so to avoid
      the conflict we will use here name space which is food:detail
    </p>
    {% endcomment %}
  </body>
</html>
